{% extends 'base.html' %}
{% block title %}Contact List{% endblock %}    
    
{% block content %}
    <table class="contact-list">
        <thead>
           <tr>
               <th>Number</th> 
               <th>Name</th>
               <th>Phone</th>
               <th>Email</th>
               <th>Gender</th>
               <th>Photo</th>
               <th>Actions</th>
           </tr>     
        </thead>
        <tbody>
            {% for contact in contacts:  %}
                <tr>
                    <!--if contact.number is null show contact._id  -->
                    <td>{{contact.number if contact.number else contact._id}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.phone}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.gender}}</td>
                    <td><img class="photo" src="/static/images/{{contact.photo}}"></td>
                    <td class="actions">
                        <a href="/deleteContact/{{contact.number if contact.number else contact._id}}">
                           <button class="delete">Delete</button>
                        </a>
                        <br/>
                        <a href="/editContact/{{contact.number if contact.number else contact._id}}">
                           <button>Edit</button>
                        </a>
                    </td>
                </tr>        
            {% endfor %}
        </tbody>
    </table>
    <a href="/addContact">
        <button>Add new contact</button>
    </a>
    <div>
        <button onclick=addEmptyRow()>Add Empty Row</button>
    </div>
    <div>
        <button onclick=addDeynerysRow()>Add Daenerys Targaryen</button>
    </div>
    <script src="/static/js/index2.js"></script>
{% endblock %}
